.header {
    font-family: "Roboto Black";
    font-size: 13px;
    margin: 0 auto;
    min-width: 960px;
    text-align: left;
    line-height: 64px;
    position: relative;
    background-color: #107c10;
    color: #dcdcdc;
    z-index: 20;
}

.homebtn {
  background: no-repeat url(https://cdn.eracast.cc/s/img/footerhover.png) -83px -137px;
}
